/* .team {
  border: 2px solid red;
  min-height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(237, 237, 237, 0.495), var(--white));
  padding: 20px;
  position: relative;
  overflow-x: hidden;
} */

.team {
  min-height: 100vh;
  height: auto;
  color: var(--black);
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01));
  border-left: 100px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-bottom: 30px solid var(--primary);
  padding-bottom: 30px;
  overflow-y: hidden;
}

/* .team h2 {
    color: #fd7340;
    text-transform: capitalize;
    font-size: 60px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 30px;
    text-shadow: 0px 0px 6px #e2c802;
  } */

.team .wrapper_h {
  /* border: 2px solid red; */
  /* max-width: 80%; */
  min-height: 80%;
  /* height: auto; */
  margin: 20px auto;
  /* position: relative; */
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  width: 59%;
  overflow-x:auto;
  /* scroll-snap-type: proximity; */
  }
  .team .wrapper_h::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: gray;
    border-radius: 50%;
  }
  .team .wrapper_h::-webkit-scrollbar-thumb:horizontal{
    background: var(--primary);
    border-radius: 50%;
}

.team_box {
  border-radius: 20px;
  background-color: var(--white);
  height: 420px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  box-shadow: 1px 1px 6px rgb(160, 159, 159);
  transition: all 300ms ease;
}

.team_box .profile_pic {
  border: 5px double #a4eaff;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  position: relative;
  top: -30px;
  box-shadow: 0px 2px 10px rgb(160, 159, 159);
  transition: 200ms;
}

.team_box .profile_pic img {
  transition: 300ms;
}

.team_box:hover {
  scale: 1.05;
}

.team_box:hover .profile_pic img {
  scale: 1.1;
}

/* .team_box:hover .profile_pic{
    border-radius: 10%;
  } */

.team_box .name {
  font-size: 30px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: rgb(51, 46, 46);
}

.team_box .role {
  color: rgb(160, 159, 159);
  font-family: monospace;
  font-size: 17px;
  font-style: italic;
}

.team_box .social {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 0px 4px #e3bcbcae;
}

.team_box .social img {
  height: 30px;
  margin: 15px 10px;
}

.team_box .social img:hover {
  scale: 1.05;
}

.team h4 {
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  color: #005a32;
  text-shadow: 1px 2px 10px #a7a7a7;
  border-top: 1px dashed #fc9e82;
  width: 60%;
  margin: auto;
}



/* 
.carousel-wrapper {
  width: 520px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  margin: 100px auto 20px;
}

.carousel-container {
  width: 400px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: 1200px;
  animation: sliding 12s infinite;
}
.carousel div {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.carousel:hover {
  animation-play-state: paused;
}
.carousel .image-one {
  background-image: url("https://images.unsplash.com/photo-1480936600919-bffa6b7ecf1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.carousel .image-two {
  background-image: url("https://images.unsplash.com/photo-1475053081036-c8eb31d187b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.carousel .image-three {
  background-image: url("https://images.unsplash.com/photo-1525278070609-779c7adb7b71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-400px);
  }
  65% {
    transform: translateX(-400px);
  }
  70% {
    transform: translateX(-800px);
  }
  98% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 768px) {
  .carousel-wrapper {
    width: 312px;
    height: 210px;
  }

  .carousel-container {
    width: 240px;
    height: 150px;
  }

  .carousel {
    width: 720px;
  }
  .carousel > div {
    width: 240px;
    height: 150px;
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-240px);
    }
    65% {
      transform: translateX(-240px);
    }
    70% {
      transform: translateX(-480px);
    }
    98% {
      transform: translateX(-480px);
    }
    100% {
      transform: translateX(0);
    }
  }
} */

@media only screen and (max-width: 1250px) {
  .team .wrapper_h {
    /* border: 2px solid red; */
    /* max-width: 80%; */
    min-height: 80%;
    /* height: auto; */
    margin: 20px auto;
    /* position: relative; */
    /* display: grid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    width: 70%;
    overflow-x:auto;
    /* scroll-snap-type: proximity; */
    }
  .team_box {
    scale: 0.9;
  }

  .team_box:hover {
    scale: 0.95;
  }
}

@media only screen and (max-width: 1140px) {
  .team_box {
    scale: 0.9;
  }

  .team_box:hover {
    scale: 0.95;
  }

  .team .wrapper_h {
    width: 77%;
  }
}

@media only screen and (max-width: 1035px) {

  .team {
    border-left: 7vh solid var(--primary);
  }

  .team .wrapper_h {
    width: 55%;
  }

  .team_box {
    scale: 0.9;
  }

  .team_box:hover {
    scale: 0.95;
  }
}

@media only screen and (max-width: 770px) {
  .team{
    border: none;
  }
  .team .wrapper_h {
    width: 40%;
  }
  
  .team_box {
    scale: 0.9;
  }
  
  .team_box:hover {
    scale: 0.95;
  }
  
  .team_box .social img {
    height: 30px;
  }
  
  .team_box .name {
    font-size: 30px;
  }
}

@media only screen and (max-width: 680px) {
  .team_box {
    scale: 0.8;
    margin: auto;
  }
  .team_box:hover {
    scale: 0.85;
  }
  .team .wrapper_h {
    margin: 10px;
    width: 43%;
    height: 70%;
  }
}

@media only screen and (max-width: 570px) {

  .team .wrapper_h {
    width: 50%;
  }

  .team_box {
    scale: 0.75;
  }

  .team_box:hover {
    scale: 0.8;
  }
}

@media only screen and (max-width: 500px) {

  .team .wrapper_h {
    width: 60%;
  }

  .team_box {
    scale: 0.75;
  }

  .team_box:hover {
    scale: 0.8;
  }
}

@media only screen and (max-width: 430px) {

  .team .wrapper_h {
    width: 70%;
    margin: 2px;
  }

  .team_box {
    scale: 0.7;
  }

  .team_box:hover {
    scale: 0.75;
  }
  .team h2{
    font-size: 2em;
    margin-bottom: 0px;
  }
  .team h4{
    font-size: 12px;
    width: 60%;
  }
}

