/* .team {
  border: 2px solid red;
  min-height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(237, 237, 237, 0.495), var(--white));
  padding: 20px;
  position: relative;
  overflow-x: hidden;
} */

.team {
  min-height: 100vh;
  height: auto;
  color: var(--black);
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01));
  border-left: 100px solid var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-bottom: 30px solid var(--primary);
  padding-bottom: 30px;
}

/* .team h2 {
    color: #fd7340;
    text-transform: capitalize;
    font-size: 60px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 30px;
    text-shadow: 0px 0px 6px #e2c802;
  } */

.team .wrapper_h {
  /* border: 2px solid red; */
  /* max-width: 80%; */
  min-height: 80%;
  /* height: auto; */
  margin: 20px auto;
  position: relative;
  display: grid;
  /* align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 75%;
}

.team_box {
  /* border: 2px solid red; */
  border-radius: 20px;
  background-color: var(--white);
  height: 420px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  box-shadow: 1px 1px 6px rgb(160, 159, 159);
  transition: all 300ms ease;
}

.team_box .profile_pic {
  border: 5px double #a4eaff;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  position: relative;
  top: -30px;
  box-shadow: 0px 2px 10px rgb(160, 159, 159);
  transition: 200ms;
}

.team_box .profile_pic img {
  transition: 300ms;
}

.team_box:hover {
  scale: 1.05;
}

.team_box:hover .profile_pic img {
  scale: 1.1;
}

/* .team_box:hover .profile_pic{
    border-radius: 10%;
  } */

.team_box .name {
  font-size: 30px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: rgb(51, 46, 46);
}

.team_box .role {
  color: rgb(160, 159, 159);
  font-family: monospace;
  font-size: 17px;
  font-style: italic;
}

.team_box .social {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0px 0px 4px #e3bcbcae;
}

.team_box .social img {
  height: 30px;
  margin: 15px 10px;
}

.team_box .social img:hover {
  scale: 1.05;
}

.team h4 {
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  color: #005a32;
  text-shadow: 1px 2px 10px #a7a7a7;
  border-top: 1px dashed #fc9e82;
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 1250px) {
  .team_box {
    scale: 0.9;
  }

  .team_box:hover {
    scale: 0.95;
  }

  .team .wrapper_h {
    width: 90%;
  }
}

@media only screen and (max-width: 1140px) {
  .team_box {
    scale: 0.8;
  }

  .team_box:hover {
    scale: 0.85;
  }

  .team .wrapper_h {
    width: 100%;
  }
}

@media only screen and (max-width: 1035px) {

  .team {
    border-left: 7vh solid var(--primary);
  }

  .team .wrapper_h {
    margin: 0px auto;
    flex-wrap: nowrap;
  }

  .team_box {
    scale: 0.7;
  }

  .team_box:hover {
    scale: 0.75;
  }

  .team .wrapper_h {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .team_box .profile_pic img {
    height: 30vh;
  }

  .team_box .social img {
    height: 25px;
  }

  .team_box .name {
    font-size: 25px;
  }

  .team_box {
    margin: 0;
  }

  /* .team_box {
    scale: 0.75;
  }

  .team_box:hover {
    scale: 0.8;
  } */
}

@media only screen and (max-width: 865px) {
  .team .wrapper_h {
    grid-template-columns: 32% 32% 32%;
    justify-content: start;
  }
}

@media only screen and (max-width: 770px) {
  .team .wrapper_h {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
  }

  .team_box {
    scale: 0.8;
  }

  .team_box:hover {
    scale: 0.85;
  }

  .team_box .social img {
    height: 30px;
  }

  .team_box .name {
    font-size: 30px;
  }
}

@media only screen and (max-width: 620px) {
  .team {
    border-left: 0;
  }
}

@media only screen and (max-width: 565px) {

  .team .wrapper_h {
    grid-template-columns: 47% 47%;
    justify-content: start;
  }

  .team_box {
    scale: 0.75;
  }

  .team_box:hover {
    scale: 0.8;
  }
}

@media only screen and (max-width: 505px) {

  .team .wrapper_h {
    grid-template-columns: 44% 44%;
    grid-template-rows: 50vh 50vh 50vh;
    justify-content: start;
  }

  .team_box {
    scale: 0.65;
  }

  .team_box:hover {
    scale: 0.7;
  }
}

@media only screen and (max-width: 457px) {
  .team .wrapper_h {
    left: -20px;
  }
}

@media only screen and (max-width: 450px) {
  .team .wrapper_h {
    grid-template-columns: 1fr;
    grid-template-rows: 55vh 55vh 55vh 55vh 55vh 55vh;
    justify-content: start;
    left: 0;
  }

  .team_box {
    margin: auto;
    scale: 0.8;
  }

  .team_box:hover {
    scale: 0.85;
  }
}