/* Genral css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  /* --primary: rgb(0, 173, 66); */
  --primary: rgb(3, 171, 43);
  --white: #ffffff;
  --black: #000;
}
html,body{
  overflow-x: hidden;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  min-height: 100vh;
  /* overflow-y: scroll; */
  /* border: 2px solid red; */
}

.wrapper_h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.wrapper_v {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  /* margin: 20px; */
  /* justify-content: center; */
}
.title {
  margin-top: 70px;
  padding: 0px 10px;
  height: fit-content;
  color: var(--primary);
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0px 0px 2px var(--black);
  text-transform: uppercase;
  display: flex;
  border-bottom: 4px solid var(--primary);
  position: relative;
}
.title::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: var(--primary);
  border: 3px solid var(--white);
  transform: rotate(45deg);
  position: absolute;
  top: calc(100% - 6px);
  left: calc(50% - 7px);
}
.left_shift {
  position: relative;
  left: -20px;
}
.right_shift {
  position: relative;
  right: -20px;
}
/* Genral css end */

/* navbar css start */


/* navbar css end */

/* Scroll_nav css start */

/* Scroll_nav css end */

/* Banner css start */

/* Banner css end */

/* AboutUs css start */

/* aboutUs css end */

/* Contributors css start */

/* Contributors css end */


/* Map CSS start */




/* Team css start*/

/* Team css end*/

/* donate css start */
.donate {
  min-height: 91vh;
  height: auto;
  color: var(--black);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 25px;
  /* border-bottom: 30px solid var(--primary); */
  /* padding-bottom: 30px; */
}
.donate h2 {
  font-size: 2.5em;
  color: transparent;
  text-shadow: 2px 2px 2px #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 48%;
  left: -5%;
  font-family: cursive;
  transform: rotateZ(-90deg);
}
.donate .image {
  background-color: #ffffff;
  height: 700px;
  width: 950px;
  background-image: url("../src/images/diego-ph-SZYreZsJ-fE-unsplash.jpg");
  background-position: center;
  background-size: cover;
  margin-left: 10%;
  box-shadow: 0 5px 15px #7a7a7a;
  margin-top: -10%;
  border-radius: 0 0 0 60px;
  overflow: hidden;
  /* transform: scale(0.7); */
}

.payment_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  /* height: 600px; */
  min-width: 400px;
  width: 450px;
  border-radius: 20px;
  /* background: linear-gradient(45deg, #62ddffaf, #c20defaf); */
  background-color: #fff;
  /* border: 2px solid #ffffff; */
  padding: 50px 40px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  font-size: 22px;
}
.payment_box h1 {
  color: #000000;
  font-weight: 400;
  padding-left: 10px;
  border-left: 5px solid var(--primary);
  margin-bottom: 50px;
  width: 300px;
  font-size: 30px;
}
.payment_box .inputBox {
  position: relative;
  width: 300px;
  min-height: 46px;
  margin-bottom: 25px;
}

.payment_box .inputBox:last-child {
  margin-bottom: 0px;
}

.payment_box .inputBox input {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  font-size: 0.9em;
  font-weight: 300;
  color: #111;
}

.payment_box .inputBox span {
  position: absolute;
  left: 1px;
  top: 5px;
  /* border: 2px solid red; */
  padding: 6px;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #111;
  transition: 0.5s;
  pointer-events: none;
}
.payment_box .inputBox input:focus ~ span,
.payment_box .inputBox input:valid ~ span {
  transform: translate(-6px, -32px);
  font-size: 14px;
}
.payment_box .inputBox input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.payment_box .inputBox input[type="submit"] {
  background: var(--primary);
  color: #fff;
  font-weight: bold;
  border: 2px solid var(--primary);
  cursor: pointer;
  width: 65%;
}

.payment_box .inputBox input[type="submit"]:hover {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.payment_box .inputBox input[type="reset"] {
  border: 2px solid #000;
  cursor: pointer;
  width: 30%;
  left: 70%;
}
/* donate css end */

/* footer css start */

/* footer css end */
