.login-box {
  /* border:  2px solid red; */
  height: 91vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.574)),
    url(../../images/login.png);
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-box form {
  position: absolute;
  right: 0px;
  top: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  /* height: 60vh; */
  height: 400px;
  /* border: 2px solid rgb(132, 29, 29); */
  padding: 10px 10px 10px 100px;
}
.login-box form h3 {
  font-size: 70px;
  font-weight: 300;
  width: 400px;
}
.login-box form #email label,
.login-box form #password label,
.login-box form #con_password label {
  display: block;
  font-size: 13px;
  margin: 5px 5px;
  width: 400px;
}
.login-box form #email input,
.login-box form #password input,
.login-box form #con_password input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 400px;
  font-size: 15px;
  color: aliceblue;
  margin: 0px 5px;
  padding: 5px;
}
.login-box form #email input[type="email"]:focus,
.login-box form #password input[type="password"]:focus,
.login-box form #con_password input[type="password"]:focus {
  outline: none;
}
.login-box form input[type="submit"] {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px 40px;
  cursor: pointer;
}
.login-box form p {
  color: rgb(75, 114, 69);
}
.login-box form p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#redirect_msg {
  background-color: transparent;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  /* color: rgb(192, 239, 255); */
  color: rgb(199, 255, 191);
}
