.login-box {
  /* border: 2px solid red; */
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.574)),
    url(../../images/login.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-box form {
  position: absolute;
  right: 0px;
  top: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  font-size: 20px;
  /* height: 60vh; */
  height: 400px;
  /* border: 2px solid rgb(132, 29, 29); */
  padding: 10px 10px 10px 100px;
}
.login-box form h3 {
  font-size: 70px;
  font-weight: 300;
  width: 400px;
}
.login-box form #email label,
.login-box form #password label,
.login-box form #con_password label {
  display: block;
  font-size: 1.2em;
  margin: 5px 5px;
  width: 400px;
}
.login-box form #email input,
.login-box form #password input,
.login-box form #con_password input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  /* width: 400px; */
  /* font-size: 15px; */
  /* font-size: 1em; */
  color: aliceblue;
  margin: 0px 5px;
  padding: 5px;
}
.login-box form #email input[type="email"]:focus,
.login-box form #password input[type="password"]:focus,
.login-box form #con_password input[type="password"]:focus {
  outline: none;
}
.login-box form input[type="submit"] {
  background-color: green;
  color: white;
  font-size: 1em;
  padding: 10px 40px;
  cursor: pointer;
  margin-top: 20px;
}
.login-box form p {
  color: rgb(75, 114, 69);
}
.login-box form p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#redirect_msg {
  background-color: transparent;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  /* color: rgb(192, 239, 255); */
  color: rgb(199, 255, 191);
}

/* 4K device */
@media only screen and (max-width: 2560px) {
  /* login page css */
  .login-box form {
    /* border: 2px solid red; */
    width: 40%;
    height: 600px;
    font-size: 25px;
  }
  .login-box form h3 {
    font-size: 3em;
  }
  .login-box form div input {
    font-size: 1em;
    width: 500px;
  }
}

@media only screen and (max-width: 2000px) and (min-height: 700) {
  /* login page css */
  .login-box form {
    /* border: 2px solid red; */
    width: 40%;
    height: 500px;
    font-size: 22px;
  }

}

/* Laptop L device */
@media only screen and (max-width: 1540px) {

  /* login page css */
  .login-box {
    /* height: 91vh; */
    background-position: center;
  }
  .login-box form {
    /* border: 2px solid red; */
    width: 30%;
    height: 400px;
    font-size: 15px;
    right: 20%;
  }
  .login-box form h3 {
    font-size: 2.8em;
  }
  .login-box form div input {
    font-size: 0.8em;
    width: 350px;
  }
}


/* Laptop  device */
@media only screen and (max-width: 1024px) {
  .login-box{
    background-position: 15%;
  }
  .login-box form{
    font-size: 12px;
    height: 300px;
    width: 300px;
  }
  .login-box form h3 {
    font-size: 3.5em;
  }
  .login-box form div input {
    width: 300px;
    font-size: 1.2em;
  }
}

/* Tablet  device */
@media only screen and (max-width: 768px) {
  .login-box{
    background-position: 6%;
    background-size: cover;
  }
  .login-box form{
    font-size: 11px;
    height: 325px;
    width: 320px;
    right: 22%;
  }
  .login-box form h3 {
    font-size: 3.6em;
  }
  .login-box form div input {
    width: 300px;
    font-size: 1.2em;
  }
}

/* Mobile device */
@media only screen and (max-width: 500px){
  .login-box{
    background-position: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-box form{
    margin: auto;
    padding: 0;
    position: unset;
    scale: 0.9;
    font-size: 13px;
  }
  .login-box form h3 {
    font-size: 3.9em;
  }
  .login-box form div input {
    width: 300px;
    font-size: 1.3em;
  }
}